@page
@model CommandHandlersModel
@{
    ViewData["Title"] = "Command handlers";
}

<h1>Command handlers @Model.Bot.Name</h1>
<a href="/CreateNewCommandHandler?id=@Model.Bot.Id">Create a new command handler</a>


